.card {
    max-width: 345px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    height: 100%;
  }
  .card__header {
    position: absolute; z-index: 5; padding: 10px; right: 0;
  }
  .card__passed {
    display: flex; gap: 3px; align-items: center;
  }
  .card__passed_dot {
    border-radius: 50%;
    display: inline-block;
    height: 7px;
    width: 7px
  }
  