.form_radio {
  display: flex;
  overflow: hidden;
}

.form_radio input[type=radio] {
  display: none;
}

.form_radio label {
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  line-height: 34px;
  border: 1px solid #999;
  user-select: none;
  border-radius: 6px ;
  width: -webkit-fill-available;
}

.form_radio input[type=radio]:checked+label {
  background: #c2e4ff;
}

.label__answer:hover {
  color: #666;
  background: #8a2be21c;
}

