.inputQuestion {
  display: none;
}

.inputQuestion + label {
  background: #999;
  height: 20px;
  width: 25px;
  border-radius: 50%;
  padding: 0 0 0 0px;
  cursor: pointer;
  background: url('../assets/wrong.png');
  background-size: cover;
  transition: all .3s;
}

.inputQuestion:checked + label {
  background: #4ed817;
  height: 20px;
  width: 25px;
  padding: 0 0 0 0px;
  cursor: pointer;
  background: url('../assets/right.png');
  background-size: cover;
  transition: all .3s;
}